.Button {
  width: 45px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  &:hover {
    background-color: rgba(201, 215, 230, 0.806);
  }
  @media (max-width: 1000px) {
    width: 40px;
  }
}
.night {
  background-color: rgba(226, 240, 255, 0.5);
  color: rgb(12, 67, 104);
}
.day {
  background-color: rgba(226, 240, 255, 0.735);
  color: rgb(12, 67, 104);
}
